/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 body{
  background-color: #0a0e1d;
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
}
/* main {
  flex: 1 0 auto;
} */
.container{
 background-color: #141a31;
}
.row{
 margin-bottom: 0px;
}


 /* STARTER PAGE SECTION */

 .logo-containerIndex {
  font-size: 50px;
}

.subtitle {
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 10px;
}

.emojiBtn {
  height: 6rem;
  padding-top: 15px;
}

.btn .emojiIcon {
  font-size: 4rem;
}

.emojiPadding {
  padding-top: 20px;
  padding-bottom: 100px;
}



/* LANDING HTML SECTION */



/* logo/app name styling */
#logo-container {
 font-family: 'Ubuntu', sans-serif;
}
.mood {
 color: #4ca7a2;
}
.vies {
 color: #3c3f58;
}

/* Navbar background */

.customNav{
background-color: #141a31;
}

/* Carousal */
.carousel{
 height:40vh;
}
.carousel-item {
 width: 450px !important;
 height: 250px !important;
}
.cc1{
 background-image: url(../images/cc1.jpg);
}
.cc2{
 background-image: url(../images/cc2.jpg);
}
.cc3{
 background-image: url(../images/cc3.jpg);
}
.cc4{
 background-image: url(../images/cc4.jpg);
}
.cc1, .cc2, .cc3, .cc4{
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
} 

/* search result cards */
.cardBg {
 background-color: #141a31 !important;
}
.card {
 border-radius: 6px !important;
} 
.card .card-content {
 padding: 10px !important;
 border-radius: 0 0 3px 3px !important;
}
.customCardTitle{
 font-size: 22px !important;
}

/* Buttons */
.btn{
 background-color: #1e2746 !important;
}
.btn-large{
 margin:10px;
}

/* Footer */
.page-footer{
 background-color: #1e2746 !important;
}

/* To remove carousal on screens less than 600px */
@media only screen and (max-width: 600px) {
 .customCC {
   display: none;
 }
}
