body {
    background-color: #0a0e1d;
}

.container {
    background-color: #141a31;
}

#logo-container {
    font-family: 'Ubuntu', sans-serif;
}

.mood {
    color: #4ca7a2;
}

.vies {
    color: #cf6464;
}